<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/xuanxing/css/font.css">
    <link rel="stylesheet" href="/static/css/xuanxing/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/layui2/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body>

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so layui-form-pane">
            <input class="layui-input" placeholder="请输入项目名称" name="cate_name">
            <button class="layui-btn" lay-submit="" lay-filter="sreach">查询</button>
        </form>
    </div>
    <!-- <blockquote class="layui-elem-quote"> 11 <i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote> -->
    <!--  <xblock>
       <button class="layui-btn-danger layui-btn layui-btn-xs" onclick="delAll()"><i class="layui-icon"></i>创建案例</button>
       <button class="layui-btn layui-btn-warm layui-btn-xs" onclick="delAll()"><i class="layui-icon"></i>导入案例</button>
       <button class="layui-btn layui-btn-warm layui-btn-xs" onclick="delAll()"><i class="layui-icon"></i>生成案例</button>
       <button class="layui-btn layui-btn layui-btn-xs" " onclick="delAll()"><i class="layui-icon"></i>清空案例</button>

       <span class="x-right" style="line-height:40px">共有数据：12个项目</span>
     </xblock> -->
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th width="20">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th width="70">ID</th>
            <th>项目名称</th>
            <th width="50">负责人</th>
            <th width="220">参与人</th>
            <th width="350">操作</th>
        </thead>
        <tbody class="x-cate">
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i
                            class="layui-icon">&#xe605;</i></div>
                </td>
                <td>1</td>
                <td>
                    <i class="layui-icon x-show">&#xe623;</i>
                </td>
                <td>4</td>
                <td>
                    4
                </td>
                <td>
                    <button class="layui-btn-danger layui-btn layui-btn-xs anli_list"><i class="layui-icon"></i>案例列表
                    </button>
                    <button class="layui-btn layui-btn layui-btn-xs"><i class="layui-icon"></i>清空案例</button>
                </td>
            </tr>


        </tbody>
    </table>
</div>

<script>
    layui.use(['form'], function () {
        form = layui.form;

    });

    $(".anli_list").click(function () {
        window.location.href = "/xuanxing/test_anli"
    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

</script>
</body>

</html>