<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/xuanxing/css/font.css">
    <link rel="stylesheet" href="/static/css/xuanxing/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/layui2/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body>
<div class="x-body">
    {% csrf_token %}
    <div class="layui-form-item">
        <label for="username" class="layui-form-label">
            <span class="x-red">*</span>权限类型
        </label>
        <div class="layui-input-inline">
            <input type="text" required="" autocomplete="off" class="layui-input" id="opt_type" value="{{ optype }}" disabled="disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="phone" class="layui-form-label">
            <span class="x-red">*</span> 权限名称
        </label>
        <div class="layui-input-inline">
            <input type="text" id="opt_name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
        </label>
        <button class="layui-btn" id="op_add">
            增加权限
        </button>
        <button class="layui-btn" id="op_cancel">
            取消
        </button>
    </div>
</div>

<script>

    $("#op_add").click(function () {
        let optp_name = $("#opt_type").val(); // 权限类型名称
        let opt = $("#opt_name").val().replace(/(^\s*)|(\s*$)/g, ""); // 权限名称
        if (opt == "" || null == opt){
            layer.msg("权限名称不能为空");
            return false;
        }
        $.ajax({
            url: '/xuanxing/op_add/',
            type: 'post',
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "op_name": opt,
                "optp_name": optp_name
            },
            success: function (msg) {
                let ReState = eval("(" + JSON.stringify(msg) + ")");
                if (ReState["code"] == "0000") {
                    layer.alert("添加成功", {icon: 6}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                    return false;
                } else if (ReState["code"] == "0002") {
                    alert("Password Error")
                } else if (ReState["code"] == "0004") {
                    layer.msg("权限已存在");
                }
            }
        });
    });

    $("#op_cancel").click(function () {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

</script>
</body>
</html>