<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/xuanxing/css/font.css">
    <link rel="stylesheet" href="/static/css/xuanxing/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/layui2/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-async-data.js"></script>

</head>

<body>
<div class="x-body" id="pd_chg">
    {% csrf_token %}
    <div>
        <button type="button" class="layui-btn layui-btn-radius score_button layui-bg-black"
                style="display: inline-block; margin-left: 30px" id="change1">
            增加产品类型及子类
        </button>
        <button type="button" class="layui-btn layui-btn-radius score_button layui-bg-black"
                style="display: inline-block; margin-left: 30px" id="change2">
            修改产品类型名称
        </button>
        <button type="button" class="layui-btn layui-btn-radius score_button layui-bg-black"
                style="display: inline-block; margin-left: 30px" id="change3">
            修改子类名称
        </button>
    </div>
    <br><br><br><br>

    <div class="layui-form-item" id="pd_type_add" style="display: none">
        <label for="username" class="layui-form-label">
            <span class="x-red">*</span>产品大类名称
        </label>
        <div class="layui-input-inline">
            <select id="big_type" style="height: 38px;">
                {% for pdt in big_cls_list %}
                    <option>{{ pdt }}</option>
                {% endfor %}
            </select>
        </div>

        <label for="username" class="layui-form-label">
            <span class="x-red">*</span>产品类型名称
        </label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="prod_type_name">
        </div>

        <label for="phone" class="layui-form-label">
            子类名称
        </label>
        <div class="layui-input-inline">
            <input type="text" id="cd_type" class="layui-input">
        </div>

        <div class="layui-input-inline" style="width: 100px;">
            <button type="button" class="layui-btn layui-btn-radius score_button layui-btn-warm" id="prod_type_add">增加
            </button>
        </div>
    </div>

    <div class="layui-form-item" id="pd_md_type_chg" style="display: none">
        <label for="username" class="layui-form-label">
            <span class="x-red">*</span>产品大类名称
        </label>
        <div class="layui-input-inline md_type">
            <select style="height: 38px;" class="big_class">
                {% for pdt in big_cls_list %}
                    <option>{{ pdt }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="L_email" class="layui-form-label"><span class="x-red">*</span> 要修改的产品类型名称</label>
        <div class="layui-input-inline mdf_mdcls">
            <select class="middle_class" style="height: 38px;">
                <option value="">请选择类型</option>
                <option value="2" v-for="(pdt_msg, index) in pdt_list">{[ pdt_msg ]}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="text" id="md_type_name" class="layui-input">
        </div>

        <div class="layui-input-inline" style="width: 100px;">
            <button type="button" class="layui-btn layui-btn-radius score_button layui-btn-warm" id="prod_change">修改
            </button>
        </div>

    </div>

    <div class="layui-form-item" id="pd_sm_type_chg" style="display: none">
        <label for="username" class="layui-form-label"><span class="x-red">*</span>产品大类名称</label>
        <div class="layui-input-inline md_type">
            <select style="height: 38px;" class="big_class">
                {% for pdt in big_cls_list %}
                    <option>{{ pdt }}</option>
                {% endfor %}
            </select>
        </div>

        <label for="L_email" class="layui-form-label"><span class="x-red">*</span> 产品类型名称</label>
        <div class="layui-input-inline mdf_mdcls">
            <select class="middle_class" style="height: 38px;">
                <option value="">请选择类型</option>
                <option value="2" v-for="(pdt_msg, index) in pdt_list">{[ pdt_msg ]}</option>
            </select>
        </div>
        <label for="L_email" class="layui-form-label"><span class="x-red">*</span> 产品子类名称</label>

        <div class="layui-input-inline">
            <select id="change_cd_type" style="height: 38px;">
                <option value="">请选择子类</option>
                <option v-for="(chlid_type_msg, index) in child_type_list" v-bind:value=chlid_type_msg[1]>{[ chlid_type_msg[0] ]}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="text" id="cd_type_name" class="layui-input">
        </div>

        <div class="layui-input-inline" style="width: 100px;">
            <button type="button" class="layui-btn layui-btn-radius score_button layui-btn-warm" id="cd_type_change">修改
            </button>
        </div>

    </div>

</div>

<script>
    // 修改---------------
    let pd_vue = new Vue({
        delimiters: ['{[', ']}'],
        el: "#pd_chg",
        data: {
            pdt_list: [],
            child_type_list: [],
        }
    });

    function liandong(opt_name, big_cls_name, mid_cls_name, sml_cls_name) {
        let form = layui.form;
        if (big_cls_name != opt_name) {
            $.ajax({
                url: '/xuanxing/prod_type_query/',
                type: 'post',
                data: {
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    "big_cls_name": big_cls_name,
                    "mid_cls_name": mid_cls_name,
                    "sml_cls_name": sml_cls_name,
                },
                success: function (msg) {
                    let ReState = eval("(" + JSON.stringify(msg) + ")");
                    if (ReState["code"] == "0000") {
                        // 清除已选中的
                        {#alert(ReState["vend_list"]);#}
                        pd_vue.$set(pd_vue, "pdt_list", ReState["pdt_list"]);
                        pd_vue.$set(pd_vue, "child_type_list", ReState["child_type_list"]);

                    }
                    else if (ReState["code"] == "0002") {
                        alert("未创建角色")
                    }
                }
            });
        }
    }

    $(".big_class").bind("change", function () {
        let big_cls_name = $(this).find("option:selected").text();
        liandong("请选择大类", big_cls_name, "", "")
    });

    $(".middle_class").bind("change", function () {
        let big_cls_name = $(this).parent().siblings(".md_type").children(".big_class").find("option:selected").text();
        let mid_cls_name = $(this).find("option:selected").text();
        liandong("请选择类型", big_cls_name, mid_cls_name, "")
    });

    $("#cd_type_change").click(function () {
        let chg_prod_type = $(this).parent().siblings(".mdf_mdcls").children(".middle_class").find("option:selected").text();

        let chg_cd_type = $("#change_cd_type").find("option:selected").val();
        let cd_type_name = $("#cd_type_name").val();
        $.ajax({
            url: '/xuanxing/prod_change/',
            type: 'post',
            async: false,
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "option": "1",
                "chg_prod_type": chg_prod_type,
                "cd_type_name": cd_type_name,
                "chg_cd_type": chg_cd_type,
            },
            success: function (msg) {
                let ReState = eval("(" + JSON.stringify(msg) + ")");
                if (ReState["code"] == "0000") {
                    layer.alert("操作成功", {icon: 6}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                    return false;
                } else if (ReState["code"] == "0001") {
                    alert("没有该类型")
                } else if (ReState["code"] == "0002") {
                    alert("Username Error")
                }
            }
        });
    });

    $("#prod_change").click(function () {

        let pd_type_name = $(this).parent().siblings(".mdf_mdcls").children(".middle_class").find("option:selected").text();
        let md_chg_name = $("#md_type_name").val();
        $.ajax({
            url: '/xuanxing/prod_change/',
            type: 'post',
            async: false,
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "option": "0",
                "pd_type_name": pd_type_name,
                "md_chg_name": md_chg_name,
            },
            success: function (msg) {
                let ReState = eval("(" + JSON.stringify(msg) + ")");
                if (ReState["code"] == "0000") {
                    layer.alert("操作成功", {icon: 6}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                    return false;
                } else if (ReState["code"] == "0001") {
                    alert("没有该类型")
                } else if (ReState["code"] == "0002") {
                    alert("Username Error")
                }
            }
        });
    });

    $("#prod_type_add").click(function () {
        let prod_type_val = $("#prod_type_name").val();
        let cd_type = $("#cd_type").val();
        let option = "1"; //增加产品类型的操作
        let bg_cls = $("#big_type").find("option:selected").text();
        $.ajax({
            url: '/xuanxing/prod_type_add/',
            type: 'post',
            async: false,
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "prod_type_name": prod_type_val,
                "option": option,
                "bg_cls": bg_cls,
                "cd_type": cd_type,
            },
            success: function (msg) {
                let ReState = eval("(" + JSON.stringify(msg) + ")");
                if (ReState["code"] == "0000") {
                    layer.alert("操作成功", {icon: 6}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                    return false;
                } else if (ReState["code"] == "0001") {
                    alert("没有该类型")
                } else if (ReState["code"] == "0002") {
                    alert("Username Error")
                }
            }
        });
    });

    $("#prod_cancel").click(function () {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

    $("#change1").click(function () {
        $("#pd_type_add").show();
        $("#pd_md_type_chg").hide();
        $("#pd_sm_type_chg").hide();
    });
    $("#change2").click(function () {
        $("#pd_type_add").hide();
        $("#pd_md_type_chg").show();
        $("#pd_sm_type_chg").hide();
    });
    $("#change3").click(function () {
        $("#pd_type_add").hide();
        $("#pd_md_type_chg").hide();
        $("#pd_sm_type_chg").show();
    });
</script>

</body>

</html>