<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/xuanxing/css/font.css">
    <link rel="stylesheet" href="/static/css/xuanxing/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/layui2/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body>
<div class="x-body">
    {% csrf_token %}
    <div class="layui-form-item">
        <label for="username" class="layui-form-label">
            <span class="x-red">*</span>角色名
        </label>
        <div class="layui-input-inline">
            <input type="text" required="" autocomplete="off" class="layui-input" id="role_name">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="phone" class="layui-form-label">
            <span class="x-red">   </span>角色描述
        </label>
        <div class="layui-input-inline">
            <input type="text" id="role_desc" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button class="layui-btn" id="role_add">
            增加角色
        </button>
        <button class="layui-btn" id="role_cancel">
            取消
        </button>
    </div>
</div>

<script>
    $("#role_add").click(function () {
        let role_name = $("#role_name").val();
        let role_desc = $("#role_desc").val();
        role_name = role_name.replace(/(^\s*)|(\s*$)/g, "");
        if(role_name == "" | undefined == role_name){
            layer.msg("角色名不能为空");
            return false;
        }
        $.ajax({
            url: '/xuanxing/role_add_html/',
            type: 'post',
            async: false,
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "role_name": role_name,
                "role_desc": role_desc
            },
            success: function (msg) {
                let ReState = eval("(" + JSON.stringify(msg) + ")");
                if (ReState["code"] == "0000") {
                    layer.alert("增加成功", {icon: 6}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                    return false;
                } else if (ReState["code"] == "0002") {
                    layer.msg("webserver error");
                    return false;
                }
                else if(ReState["code"] == "0004"){
                    layer.msg("角色名已存在");
                    return false;
                }
            }
        });

    });
    $("#role_cancel").click(function () {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

</script>

</body>

</html>