<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/static/layui2/css/layui.css" media="all">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/layui2/layui.js" charset="utf-8"></script>

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-async-data.js"></script>

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<!-- <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>基本演示</legend>
</fieldset>
<div class="layui-btn-container">
  <button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">获取选中节点数据</button>
  <button type="button" class="layui-btn layui-btn-sm" lay-demo="setChecked">勾选指定节点</button>
  <button type="button" class="layui-btn layui-btn-sm" lay-demo="reload">重载实例</button>
</div>
 
<div id="test12" class="demo-tree-more"></div>
         
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>常规用法</legend>
</fieldset>
 
<div id="test1" class="demo-tree demo-tree-box"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>无连接线风格</legend>
</fieldset>
<div id="test13" class="demo-tree-more"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>仅节点左侧图标控制收缩</legend>
</fieldset>
 
<div id="test2" class="demo-tree"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>手风琴模式</legend>
</fieldset>
 
<div id="test4" class="demo-tree"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>点击节点新窗口跳转</legend>
</fieldset>
 
<div id="test5" class="demo-tree"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>开启复选框</legend>
</fieldset>
  -->
<!-- <div id="test7" class="demo-tree"></div> -->
{% csrf_token %}

<button type="button" class="layui-btn layui-btn-radius score_button layui-btn-warm"
        style="display: inline-block;" id="export_prod">
    导出产品目录文件
</button>

<div class="layui-inline" style="margin-right:20px; margin-top: 10px;">
    <div class="layui-input-block" style="margin-right:20px">
        <select id="select_pj" style="height: 30px;">
            <option value="select_default">请选择项目</option>
            <option value="B" style="display: none">最新(B)</option>
            {% for pj_name in pjname_list %}
                <option value="{{ pj_name }}">{{ pj_name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{#<button type="button" class="layui-btn layui-btn-sm layui-btn-radius" style="display: inline-block;" id="modify_type">#}
{#    添加或修改类型#}
{#</button>#}

<fieldset class="layui-elem-field layui-field-title">
    <legend>产品类型的维护</legend>
</fieldset>

<i></i>

<div id="test9" class="demo-tree demo-tree-box" style="width: 350px; height: 550px; overflow: scroll;float: left">

</div>

<div style="float: left; width: 550px;display: inline-block" id="t1">
    <input type="text" v-bind:value=big_cls_name style="display: none" id="bg_cls_name">
    <table class="layui-table" style="margin-top: 0; width: 500px">
        <thead>
        <th>产品类型</th>
        <th>子类</th>
        <th>厂商</th>
        <th>产品</th>
        <th>主要技术指标</th>
        <th style="display: none">生命周期状态</th>
        <th style="display: none">性能分类</th>
        <th style="display: none">厂商策略</th>
        <th style="display: none">部署范围</th>
        <th style="display: none">应用场景</th>
        <th style="display: none">建议生产环境使用年限</th>
        <th style="display: none">备注</th>
        <th>所属项目</th>
        <th>操作</th>
        <th style="display: none">备注2</th>
        </thead>

        <tbody>
        <tr v-for="pdmsg in pd_info">

            <td v-for="(msg_pd, index) in pdmsg" v-if="index < 5" class="normal_cls">
                <span>{[ msg_pd ]}</span>
            </td>
            <td v-for="(msg_pd, index) in pdmsg" v-if="(index>=5)&&(index < pdmsg.length-4)" class="normal_cls"
                style="display: none">
                <span>{[ msg_pd ]}</span>
            </td>

            <td v-for="(msg_pd, index) in pdmsg" v-if="index == pdmsg.length-1">
                {[ msg_pd ]}
            </td>

            <td class="pd-manage">

                <a v-if="modify_flag == '1'" title="编辑" onclick="x_admin_show_new(this,'编辑')" href="javascript:;"
                   class="pd-edit">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a v-if="del_flag == '1'" title="删除" onclick="prod_del(this)" href="javascript:;" class="pd-del">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>


            <td v-for="(msg_pd, index) in pdmsg" v-if="index == pdmsg.length-3" style="display: none" class="big_cls">
                {[ msg_pd ]}
            </td>

            <td v-for="(msg_pd, index) in pdmsg" v-if="index == pdmsg.length-2" style="display: none" class="obj_id">
                {[ msg_pd ]}
            </td>

        </tr>

        </tbody>
    </table>
    <input type="text" style="display: none;" id="prod_title">

    <div style="text-align: center;" id="op_add_prod">
        <a title="添加" onclick="x_admin_show_vend('添加参测厂商产品信息')" href="javascript:;">
            <i class="layui-icon">&#xe654;</i>
        </a>
    </div>
    <span id="pdt_id" style="display: none;">{[ pd_type_id ]}</span>
</div>
<input type="text" style="display: none;" id="pj_current">

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    function option_control() {
        let opt_type_str = '{{ request.session.opt_type_list}}';
        let opt_type_list = opt_type_str.split(";");
        let index_del = $.inArray("删除产品", opt_type_list); //判断菜单名是否在数组中
        if (index_del != -1) {
            pd_vue.$set(pd_vue, "del_flag", "1");
        }
        else {
            pd_vue.$set(pd_vue, "del_flag", "0");
        }
        let index_edit = $.inArray("修改产品", opt_type_list); //判断菜单名是否在数组中
        if (index_edit != -1) {
            pd_vue.$set(pd_vue, "modify_flag", "1");
        }
        else {
            pd_vue.$set(pd_vue, "modify_flag", "0");
        }
        let index_add = $.inArray("添加产品", opt_type_list); //判断菜单名是否在数组中
        if (index_add != -1) {
            $("#op_add_prod").show()
        }
        else {
            $("#op_add_prod").hide()
        }

        let index_type_add = $.inArray("添加或修改产品类型", opt_type_list); //判断菜单名是否在数组中
        if (index_type_add != -1) {
            $("#modify_type").show()
        }
        else {
            $("#modify_type").hide()
        }
    }

    // 重写x_admin_show函数
    function x_admin_show_new(obj, title, url, w, h) {
        let pd_list = [];
        let bg_cls = $(obj).parent().parent().children(".big_cls").text().replace(/(^\s*)|(\s*$)/g, ""); //大类
        let obj_id = $(obj).parent().parent().children(".obj_id").text().replace(/(^\s*)|(\s*$)/g, ""); //id

        $(obj).parent().parent().children(".normal_cls").each(function () {
            pd_list.push($(this).text().replace(/(^\s*)|(\s*$)/g, ""));
        });
        url = "/xuanxing/prod_info?big_cls=" + bg_cls + "&obj_id=" + obj_id + "&normal_cls=" + pd_list.toString();

        layer = layui.layer;
        element = layui.element;

        if (title == null || title == '') {
            title = false;
        }
        if (url == null || url == '') {
            url = "404.html";
        }
        if (w == null || w == '') {
            w = ($(window).width() * 0.9);
        }
        if (h == null || h == '') {
            h = ($(window).height() - 50);
        }
        layer.open({
            type: 2,
            area: [w + 'px', h + 'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade: 0.4,
            title: "编辑",
            content: url,
            end: function () {
                flush_vendinfo();

            }
        });
    }

    let pd_vue = new Vue({
        delimiters: ['{[', ']}'],
        el: "#t1",
        data: {
            pd_info: [],
            big_cls_name: "",
            pd_type_id: "",
            modify_flag: "1",
            del_flag: "1",
        },
    });
    option_control();

    function rend_tree(pjname) {
        if (pjname == "select_default" ){
            return false;
        }
        layui.use(['tree', 'util'], function () {
            let tree = layui.tree
                , layer = layui.layer
                , util = layui.util;

            //模拟数据1
            $.post("/xuanxing/prod_show/", {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "pj_name": pjname,
                }, function (res) {
                    if (res["code"] == "0000") {
                        layer.msg("完成");
                        let data1 = res["prod_info"];
                        $("#pj_current").val(res["pd_show_id"]);
                        pd_vue.$set(pd_vue, "big_cls_name", res["big_cls_name"]);
                        tree.render({
                            elem: '#test9'
                            , data: data1,
                            edit: [] //操作节点的图标
                            , click: function (obj) {
                                layer.msg(JSON.stringify(obj.data.title));
                                // 如果没有子节点了 就是说当前节点就是最小的子节点
                                if (null == obj.data.children) {
                                    let tree_title = obj.data.title;
                                    $("#prod_title").val(tree_title);
                                    flush_vendinfo();
                                }
                            }
                        });
                    }
                    else {
                        layer.msg('保存出错');
                    }
                }
            )
        });
    }

    $("#select_pj").bind("change", function () {
        let pj_name = $(this).find("option:selected").val();
        if (pj_name == "select_default"){
            return false;
        }
        rend_tree(pj_name)
    });

    layui.use('upload', function () {
        let $ = layui.jquery
            , upload = layui.upload;
        //指定允许上传的文件类型
        upload.render({
            elem: "#up_prod_content"
            , url: '/xuanxing/up_prod_content/' // 后端接收文件的接口
            , accept: 'file' //类型:支持文件
            , method: 'POST'
            , data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            , done: function (res) {
                if (res["code"] == "0000") {
                    layer.msg('上传成功');
                }
                else if (res["code"] == "0004") {
                    layer.msg('请勿重复上传');
                }
                else {
                    layer.msg('上传失败');
                }
            }
        });
    });

    $("#modify_type").click(function () {
        window.location.href = "/xuanxing/prod_type_change"
    });

    $("#export_prod").click(function () {
        //之后实现项目产品一对一时需要修改
        let pj_name = $("#select_pj").find("option:selected").val();
        if (pj_name == "select_default"){
            layer.msg("请选择项目");
            return false;
        }
        if (pj_name == "" || pj_name == null) {
            layer.msg("请选择项目后进行导出");
            return false;
        }
        window.location.href = "/xuanxing/prod_export?pj_name=B&pj_real=" + pj_name;
    });

    function prod_del(obj) {
        layer.confirm('确认要删除吗？', function () {
            let del_obj_id = $(obj).parent().siblings(".obj_id").text().replace(/(^\s*)|(\s*$)/g, ""); //id
            $.post("/xuanxing/prod_del/", {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    del_obj_id: del_obj_id,
                }, function (res) {
                    if (res["code"] == "0000") {
                        layer.msg("删除成功");
                        flush_vendinfo();
                    }
                    else {
                        layer.msg('删除出错');
                    }
                }
            )
        });
    }

    function x_admin_show_vend(title_vend, w, h) {
        let title = title_vend;
        {#let sml_cls_id = $("#pdt_id").text();#}
        let sml_cls_id = $("#pj_current").val();
        if (sml_cls_id == "" || sml_cls_id == undefined || null == sml_cls_id){
            layer.msg("请选择项目");
            return false;
        }
        let url = "/xuanxing/vend_prod_add_html?&small_class=" + sml_cls_id;

        layer = layui.layer;
        element = layui.element;

        if (title == null || title == '') {
            title = false;
        }
        if (url == null || url == '') {
            url = "404.html";
        }
        if (w == null || w == '') {
            w = ($(window).width() * 0.9);
        }
        if (h == null || h == '') {
            h = ($(window).height() - 50);
        }
        layer.open({
            type: 2,
            area: [w + 'px', h + 'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade: 0.4,
            title: "编辑",
            content: url,
            end: function () {
                flush_vendinfo();
            }
        });
    }

    function flush_vendinfo() {
        let prod_title = $("#prod_title").val();
        let pj_name = $("#select_pj").find("option:selected").val();
        $.post(
            "/xuanxing/prod_list_db/", // url
            {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "title": prod_title,
                "pj_name": pj_name
            }, // 参数
            function (recv_data) {
                if (recv_data["code"] == "0000") {
                    $("#op_add_prod").show();
                    pd_vue.$set(pd_vue, "pd_info", recv_data["prod_data"]);
                    pd_vue.$set(pd_vue, "pd_type_id", recv_data["pd_type_id"]);

                    // 111
                    let pj_only_mem = '{{ request.session.pj_only_mem}}';
                    let mem_opt_list = '{{ request.session.mem_opt_list}}';
                    pj_only_mem = pj_only_mem.split(";");
                    mem_opt_list = mem_opt_list.split(";");
                    let index_pj = $.inArray(pj_name, pj_only_mem); //判断该项目名是否在数组中
                    if (index_pj != -1) {
                        let index_del = $.inArray("删除产品", mem_opt_list); //判断菜单名是否在数组中
                        if (index_del != -1) {
                            pd_vue.$set(pd_vue, "del_flag", "1");
                        }
                        else {
                            pd_vue.$set(pd_vue, "del_flag", "0");
                        }
                        let index_edit = $.inArray("修改产品", mem_opt_list); //判断菜单名是否在数组中
                        if (index_edit != -1) {
                            pd_vue.$set(pd_vue, "modify_flag", "1");
                        }
                        else {
                            pd_vue.$set(pd_vue, "modify_flag", "0");
                        }
                        // 添加产品的权限
                        let index_add = $.inArray("添加产品", mem_opt_list); //判断菜单名是否在数组中
                        if (index_add != -1) {
                            $("#op_add_prod").show()
                        }
                        else {
                            $("#op_add_prod").hide()
                        }
                    }
                    else {
                        option_control();
                    }
                }
                else {
                    pd_vue.$set(pd_vue, "pd_info", []);
                    $("#op_add_prod").hide();
                    layer.msg("无权查看");
                }
            }
        );
    }

</script>

</body>
</html>
