<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/xuanxing/css/font.css">
    <link rel="stylesheet" href="/static/css/xuanxing/css/xadmin.css">
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">欢迎管理员：
        <span class="x-red">周美云</span>！当前时间:2020-03-18
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>数据统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>产品种类</h3>
                                            <p>
                                                <cite>66</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>一级指标</h3>
                                            <p>
                                                <cite>12</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>我参与的项目</h3>
                                            <p>
                                                <cite>99</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>我负责的项目</h3>
                                            <p>
                                                <cite>67</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>未启用的项目</h3>
                                            <p>
                                                <cite>67</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>已完成的项目</h3>
                                            <p>
                                                <cite>6766</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>系统通知</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-skin="line">
                <tbody>
                <tr>
                    <td>
                        <a class="x-a" href="/" target="_blank">每周一集体参加例会</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="x-a" href="/" target="_blank">每周集体五提交周报</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>人员信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>姓名</th>
                    <td>电话</td>
                    <td>邮箱</td>
                    <td>员工编号</td>
                </tr>

                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                <tr>
                    <th>周美云</th>
                    <td>1500108196</td>
                    <td>zhzmy.zh@ccb.com</td>
                    <td>员工编号</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <!-- <fieldset class="layui-elem-field">
        <legend>开发团队</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <th>版权所有</th>
                        <td>xxxxx(xxxx)
                            <a href="http://www.xxx.com/" class='x-a' target="_blank">访问官网</a></td>
                    </tr>
                    <tr>
                        <th>开发者</th>
                        <td>马志斌(113664000@qq.com)</td></tr>
                </tbody>
            </table>
        </div>
    </fieldset> -->
    <blockquote class="layui-elem-quote layui-quote-nm">完成工作的方法，是爱惜每一分钟。</blockquote>
</div>

</body>
</html>